.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 1280px;
  justify-self: flex-start;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 96px 0px 60px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 100px 0px 60px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.columns__ruIdc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__ruIdc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__ruIdc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ruIdc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ruIdc > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pfU7F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__pXgA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-GEOs3gcqKaJL);
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  font-size: 56px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0px;
}
.column__eHYdE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.columns__k7RG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 0px;
  align-self: stretch;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__k7RG > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__k7RG > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k7RG {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 48px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k7RG > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k7RG > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__boQoe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__ujgpx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-GEOs3gcqKaJL);
  min-width: 0;
}
.freeBox__jHbsr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetRole {
  font-size: 18px;
  font-weight: 600;
  color: #1d1d21;
}
.column__tcZps {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__mXgYv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 16px;
  transform: none;
  text-transform: uppercase;
  color: var(--token-GEOs3gcqKaJL);
  min-width: 0;
}
.freeBox__meeHn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTimeline {
  font-size: 18px;
  font-weight: 600;
  color: #1d1d21;
}
